* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(216, 226, 232);
    background-image: url(Image/fond.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* DEBUT TETE */

h1 {
    background-color: rgb(161, 197, 214);
}
.logo {
    width: 5%;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: -3%;
}
h2 {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: rgb(161, 197, 214);
}
.name {
    width: 15%;
}
.tre {
    font-size: 0.25em;
    background-color: rgb(216, 226, 232);
    color: rgb(216, 226, 232);
}
.navbar {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(161, 197, 214);
}
.navbar a {
    color: aliceblue;
}

/* FIN TETE */

.light-mode .navbar {
    background-color: rgb(29, 49, 61);
}
.light-mode h1 {
    background-color: rgb(29, 49, 61);
}
.light-mode h2 {
    background-color: rgb(29, 49, 61);
}

.light-mode {
    background-color: rgb(45, 70, 87);
    background-image: url(Image/fond\ nuit.png);
}

.light-mode .tre {
    background-color: rgb(45, 70, 87);
    color: rgb(45, 70, 87);
}
.light-mode footer {
    background-color: rgb(29, 49, 61);
}

.switch {
    display: inline-block;
    position: relative;
    width: 3.5vw;
    height: 1.5vw;
    cursor: pointer;
    overflow: hidden;
}

.switch input {
    position: absolute;
    width: 0;
    height: 0;
}

.switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(216, 226, 232);
    border-radius: 5vw;
}

.switch input:checked + span {
    background: rgb(45, 70, 87);
}

.switch input + span:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 5px;
    width: 1vw;
    height: 1vw;
    background: white;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.switch input:checked + span:before {
    left: 2.2vw;
}

/* DEBUT CARTES */
#characters {
    display: grid;
    gap: 40px;
    grid-template-columns: 36% 36% 36%;
    justify-content: space-between;
    margin: 50px;
}
.A2 {
    height: 560px;
    width: 400px;
}
.character {
    background-image: url(carte-2.png);
    height: 560px;
    width: 411px;
}
.perso {
    height: 450px;
    width: 400px;
    margin-top: 11.5%;
    object-fit: contain;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
    background: rgba(0, 162, 255, 0.05);
    color: aliceblue;
    backdrop-filter: blur(10px);
    height: 250px;
    border-radius: 15px;
    font-size: 30px;
    margin-left: 600px;
    margin-right: 600px;
    justify-content: space-evenly;
}
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    background: rgba(0, 162, 255, 0.05);
    color: aliceblue;
    backdrop-filter: blur(10px);
    height: 80px;
    border-radius: 15px;
    font-size: 30px;
    margin-left: 700px;
    margin-right: 700px;
}
/* FIN CARTES */

/* DEBUT FIN */
.fleche {
    height: 50px;
    width: 50px;
}
button {
    margin-bottom: 2%;
    margin-left: 50%;
}
h4 {
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1%;
}
footer {
    background-color: rgb(161, 197, 214);
    color: aliceblue;
    display: flex;
    align-items: center;
}
/* FIN FIN */

/* DEBUT RESPONSIV */
@media all and (max-device-width: 480px) {
    /* DEBUT TETE */
    .logo {
        width: 15%;
        margin-top: 2%;
        margin-left: 2%;
    }
    h2 {
        margin-top: -5%;
    }
    .name {
        width: 50%;
    }
    .navbar {
        padding-top: 3%;
        padding-bottom: 3%;
    } /* FIN TETE */

    .character {
        margin: 0%;
        margin-top: 5%;
    }

    #characters {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 0%;
        margin-left: 0.5%;
    }

    button {
        margin-top: 20%;
        margin-left: 45%;
    }

    footer {
        margin-top: 10%;
    }
}
/* FIN RESPONSIV */
